@import 'fonts.scss';
@import 'variables.scss';

/*Reset
===============*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: $ff;
	line-height: 1;
	font-size: 14px;
	color: $bl;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
	overflow: hidden;
	position: relative;
}

body {
	&.hidden {
		overflow: hidden;
	}
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	&_big {
		max-width: 1330px;
	}
}

.btn {
	display: inline-block;
	background-color: $blue;
	border-radius: 10px;
	box-shadow: 0 20px 35px rgba(124, 192, 222, 0.3);
	text-align: center;
	font-family: $ff;
	font-size: 18px;
	font-weight: 500;
	color: $wh;
	line-height: 1.2;
	padding: 20px 30px;
	transition: all .3s linear;
	position: relative;
	z-index: 5;
	&:hover {
		transform: scale(1.05, 1.05);
	}
}

.burger {
	width: 28px;
	height: 20px;
	cursor: pointer;
	position: relative;
	z-index: 100;
	display: none;
	&__item {
		display: block;
		width: 100%;
		height: 2px;
		background: $blue;
		transition: background .3s linear;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		&:before,
		&:after {
		content: "";
		width: 100%;
		height: 2px;
		background: $blue;
		position: absolute;
		left: 0;
		z-index: 1;
		transition: transform .3s linear;
		}
		&:before {
			top: -9.5px;
		}
		&:after {
			top: 9.5px;
			width: 50%;
		}
	}
	&.active {
		.burger__item {
			background: none;
		}
		.burger__item:before {
			transform-origin: left top;
			transform: rotate(45deg) translateX(0px);
		}
		.burger__item:after {
			transform-origin: left bottom;
			transform: rotate(-45deg) translateX(0px);
			width: 100%;
		}
	}
}

/*=================Header=====================*/
.header {
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		font-family: $ffo;
		font-size: 52px;
		font-weight: 400;
		letter-spacing: -2.08px;
		color: $bl;
		margin-right: 30px;
		text-transform: uppercase;
		span {
			font-size: 62px;
			color: $blue;
			transition: all .3s linear;
			display: inline-block;
		}
		&:hover {
			span {
				transform: translateY(7px);
			}
		}
	}
	&__link {
		font-family: $ff;
		font-size: 17px;
		font-weight: 500;
		color: #545454;
		transition: all .2s linear;
		margin-right: 50px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: $blue;
		}
	}
	&__contact {
		img {
			vertical-align: middle;
			margin-left: 15px;
		}
	}
}


/*===================Intro==================*/
.intro {
	padding-top: 130px;
	padding-bottom: 95px;
	background-color: rgba(232, 232, 232, 0.53);
	position: relative;
	margin-bottom: 40px;
	&:before {
		content: "";
		width: 479px;
		height: 479px;
		background-color: rgba(124, 192, 222, 0.1);
		opacity: 0.1;
		position: absolute;
		left: -399px;
		top: -236px;
		z-index: 1;
	}
	&__header {
		display: flex;
	}
	&__title {
		font-family: $ffo;
		font-size: 125px;
		font-weight: 400;
		letter-spacing: -7.5px;
		text-transform: uppercase;
		margin-right: 35px;
		white-space: nowrap;
		flex: 1 1 71%;
	}
	&__subtitle {
		padding-top: 7px;
		font-family: $ff;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.3;
		color: $gray;
		flex: 1 1 29%;
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
	}
	&__btn {
		width: 100%;
		text-align: right;
		margin-top: 50px;
		.btn {
			min-width: 29%;
		}
	}
	&__description {
		font-family: $ff;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.3;
		color: $gray;
		width: 34%;
		margin-top: 250px;
		position: relative;
		z-index: 5;
	}
	&__photo {
		width: 90%;
		position: absolute;
		right: -23.5%;
		bottom: -60px;
		z-index: 1;
	}
	&__watch {
		width: 126px;
		position: absolute;
		left: 0;
		top: 28.5%;
		z-index: 1;
		transform: translate3d(-50%, -50%, 0);
		transition: all .3s linear;
		img {
			max-width: 100%;
		}
		&:hover {
			transform: translate3d(-50%, -50%, 0) scale(1.05, 1.05);
		}
	}
}




/*=================Adaptive================*/
@media(max-width: 1600px) {
	.intro {
		&__title {
			font-size: 100px;
		}
		&__photo {
			right: -13%;
		}
	}
}
@media(max-width: 1220px) {
	.burger {
		display: block;
	}
	.header {
		&__nav {
			position: absolute;
			right: -100%;
			top: 0;
			min-width: 40%;
			background-color: $wh;
			box-shadow: 0 20px 35px rgba(124, 192, 222, 0.3);
			border-radius: 10px;
			padding: 120px 20px 40px;
			transition: all .4s linear;
			&.active {
				right: 0;
			}
		}
		&__link {
			display: block;
			text-align: right;
			margin-right: 0;
			margin-bottom: 30px;
			font-size: 20px;
		}
	}
}

@media(max-width: 1020px) {
	.intro {
		&__title {
			font-size: 60px;
			flex: 1 1 50%;
		}
		&__subtitle {
			font-size: 16px;
			flex: 1 1 50%;
		}
		&__btn {
			margin-top: 30px;
		}
		&__description {
			font-size: 16px;
			margin-top: 340px;
		}
		&__watch {
			width: 100px;
		}
	}
}

@media(max-width: 670px) {
	.header {
		&__nav {
			min-width: 85%;
		}
	}
	.intro {
		&__header {
			flex-direction: column;
		}
		&__title {
			flex: 1 1 auto;
			margin-right: 0;
			margin-bottom: 15px;
		}
		&__btn {
			text-align: left;
		}
		&__description {
			width: 52%;
		}
		&__photo {
			right: -10%;
		}
	}
}

@media(max-width: 410px) {
	.btn {
		font-size: 14px;
	}
	.intro {
		&__title {
			font-size: 42px;
			letter-spacing: -4.5px;
		}
		&__subtitle {
			font-size: 14px;
		}
		&__description {
			width: 100%;
			margin-top: 70px;
			text-align: right;
			font-size: 14px;
			margin-bottom: 200px;
		}
		&__photo {
			>img {
				max-width: 600px;
			}
		}
		&__watch {
			width: 80px;
		}
	}
}